<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="0.123 0 0.08" rpy="0 0 0"/> <!-- decrease x to move forward -->
    </joint>

    <link name="camera_link">
        <visual>
            <origin xyz="0.02 -0.0015 -0.0057" rpy="1.5708 0.0 1.5708"/> 
            <geometry>
                <mesh filename="file:///home/aidan/ana_bot/src/ana/meshes/d435i.stl"/>
            </geometry>
            <material name="grey">
                <color rgba="0.5 0.5 0.5 1.0"/> <!-- Define grey color in RGBA format -->
            </material>
        </visual>
    </link>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/> <!-- same spot as camera, optical orientation -->
    </joint>

    <link name="camera_link_optical"></link>

    <gazebo reference="camera_link">
        <material>Gazebo/Grey</material>

        <sensor name="camera" type="depth">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate> <!-- d435i: 90fps -->
            <camera>
                <!-- specific to D435i | radians -->
                <horizontal_fov>1.518436</horizontal_fov>
                <image>
                    <format>B8G8R8</format>
                    <width>1280</width> <!-- d435i: 1280x720 -->
                    <height>720</height>

                </image>
                <!-- filter for min max ranges -->
                <clip>
                    <near>0.28</near> <!-- d435i: ideal range .3m to 3m | min: 0.28m-->
                    <far>6.0</far>
                    <!-- 6 IS TYPICAL SWEET SPOT
                        2 to 4 meters: 2-3% loss
                        4 to 6 meters: 3-5% loss 
                        6 to 10 meters: 5-10% loss 
                        -->
                </clip>
            </camera>

            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
                <min_depth>0.1</min_depth> <!-- d435i: <2% accuracy at 2m-->
                <max_depth>100</max_depth>
            </plugin>
        </sensor>

        <sensor name="rgb_camera" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>30</update_rate> <!-- Frame rate for RGB camera -->
            <camera>
                <horizontal_fov>1.204277</horizontal_fov> <!-- FOV for RGB: 69° in radians -->
                <image>
                    <format>B8G8R8</format>
                    <width>1920</width> <!-- Resolution for RGB: 1920x1080 -->
                    <height>1080</height>
                </image>
                <clip>
                    <near>0.3</near> <!-- Ideal range start for RGB -->
                    <far>3.0</far> <!-- Ideal range end for RGB -->
                </clip>
            </camera>

            <plugin name="rgb_camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>

    </gazebo>

</robot>