<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="0.123 0 0.08" rpy="0 0 0"/> <!-- decrease x to move forward -->
    </joint>

    <link name="camera_link">
        <visual>
            <origin xyz="0.02 -0.0015 -0.0057" rpy="1.5708 0.0 1.5708"/> 
            <geometry>
                <mesh filename="file:///home/aidan/ana_bot/src/ana/meshes/d435i.stl"/>
            </geometry>
            <material name="grey">
                <color rgba="0.5 0.5 0.5 1.0"/> <!-- Define grey color in RGBA format -->
            </material>
        </visual>
    </link>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/> <!-- same spot as camera, optical orientation -->
    </joint>

    <link name="camera_link_optical"></link>

</robot>